.home {
	background-color: $bg-home;
	height: calc(100vh - 60px);
	.bg_rocket {
		position: absolute;
		background-image: url('../img/bg_rocket.png');
		background-size: cover;
		width: 637px;
		height: 702px;
		display: block;
		z-index: 99;
		bottom: 0;
		left: -5%;
		transform: translate(50%, 0%);
	}
	.welcome-msg {
		position: absolute;
		top: 50%;
		right: 10%;
		transform: translate(-50%, -50%);
		hgroup {
			h1 {
				margin: 0;
				&.bold {
					font-weight: 900;
				}
				&.thin {
					font-weight: 300;
				}
				font-size: 90px;
				line-height: 70px;
				color: #fff;
			}
		}
		.user-profile {
			h3 {
				font-size: 24px;
				font-weight: 700;
				color: #99e7ff;
			}
			p {
				color: #dce5ff;
				font-size: 16px;
				label {
					width: 100px;
					display: inline-block;
					color: $white;
					white-space: pre;
				}
			}
		}
		.button-group {
			margin-top: 40px;
			.btn {
				color: $white;
				width: 200px;
				&-gray {
					background-color: $btn-gray;
				}
				&-dark {
					margin-right: 15px;
					background-color: $btn-dark;
				}
			}
		}
	}
}
