/* layout */
.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.flex-mx-auto {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center {
	@extend .flex-mx-auto;
	height: calc(100vh - 60px);
}

.header {
	z-index: 99;
	height: 60px;
	&.h-admin {
		height: 150px;
		background-color: $blue;
	}
	.navigation {
		height: 60px;
		justify-content: center;
		display: flex;
		align-items: center;
		color: $blue-text;
		&.blue {
			@extend .transition;
			background-color: $blue;
			.nav-item {
				a {
					p {
						color: #fff;
					}
				}
			}
		}
		&.white {
			@extend .transition;
			background-color: $header-wht !important;
			.nav-item {
				a {
					color: #6e7e92 !important;
				}
			}
		}
		> a {
			position: absolute;
			left: 10px;
			.logoImg {
				width: 203px;
				margin: 0 20px;
			}
		}
		.navbar-nav {
			display: flex;
			ul {
				display: flex;
				margin: 0;
				padding: 0;
				li[class*='white'] {
					&.active {
						p {
							color: $meta-text;
						}
					}
					p {
						color: #6e7e92;
					}
				}
				li[class*='blue'] {
					&.profile-service {
						a {
							p {
								color: #fff;
							}
						}
					}
				}
				.nav-item {
					@extend .transition;
					position: relative;
					padding: 0 5px;
					text-align: center;
					display: flex;
					&.active,
					&:hover {
						p {
							margin-left: 5px;
							opacity: 1 !important;
							visibility: visible !important;
							display: block !important;
						}
					}
					.nav-link {
						margin: 0 5px;
						color: $blue-text;
						display: flex;
						align-items: center;
					}

					p {
						transition: all 0.3s ease-out;
						font-weight: 700;
						margin: 0;
						width: 100%;
						text-align: center;
						z-index: 99;
						opacity: 0;
						visibility: hidden;
						display: none;
					}
					&.profile-service {
						a {
							p {
								display: block;
								opacity: 1;
								visibility: visible;
							}
						}
					}
				}
			}
			&.nav {
				justify-content: center;
				.nav-item {
					p {
						display: none;
					}
				}
			}
			&.auth {
				position: absolute;
				right: 10px;
				p {
					display: block !important;
					opacity: 1 !important;
					visibility: visible !important;
				}
			}
		}
	}
}
.page404 {
	@extend .flex-mx-auto;
	flex-wrap: wrap;
	padding: 150px 0;
	.rocket-group {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		.bg_rocket {
			background-image: url('../img/bg_rocket.png');
			background-size: cover;
			width: 637px;
			height: 702px;
			display: block;
			z-index: 10;
		}
		.rocket {
			position: absolute;
			background-image: url('../img/rocket.png');
			background-size: cover;
			width: 637px;
			height: 702px;
			display: block;
			z-index: 99;
		}
	}
	h1 {
		width: 100%;
		font-size: 52px;
		display: flex;
		justify-content: center;
	}
}
.footer {
	padding: 0 0 15px !important;
	width: 100%;
	height: 30px !important;
	&.home,
	&.profile {
		position: absolute;
		right: 30px;
		bottom: 5px;
		.inner {
			width: 100%;
			color: #fff;
		}
	}
	&.meta {
	}
	&.admin {
		position: relative;
		margin: 0 auto;
	}
	.inner {
		width: 1600px;
		margin: 0 auto;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		color: #6e7e92;
		font-size: 12px;
		padding-right: 15px;
	}
}
.box-shadow-wht {
	box-shadow: 0px 8px 10px rgba(195, 203, 216, 0.8);
	border-radius: 6px;
	justify-content: center;
	flex-wrap: wrap;
}

.box-shadow-blk {
	box-shadow: 0px 8px 10px rgba(54, 83, 175, 0.5);
	border-radius: 6px;
	justify-content: center;
	flex-wrap: wrap;
}
