/* layout */
.container {
	width: 100%;
	max-width: 1600px;
	margin: 0 auto;
}

.flex-mx-auto {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-center {
	@extend .flex-mx-auto;
	height: calc(100vh - 60px - 1rem);
}

.header {
	z-index: 99;
	.navigation {
		height: 60px;
		justify-content: center;
		display: flex;
		align-items: center;
		&.blue {
			@extend .transition;
			background-color: $blue;
			.nav-item {
				p {
					color: #fff;
				}
			}
		}
		&.white {
			@extend .transition;
			background-color: $header-wht;
			.nav-item {
				a {
					color: #6e7e92 !important;
				}
			}
		}
		color: $blue-text;
		> a {
			position: absolute;
			left: 10px;
			.logoImg {
				width: 203px;
				margin: 0 20px;
			}
		}
		.navbar-nav {
			display: flex;
			ul {
				display: flex;
				margin: 0;
				padding: 0;
				.nav-item {
					position: relative;
					padding: 0 5px;
					text-align: center;
					display: flex;
					&.active {
						p {
							display: inline-block !important;
							opacity: 1;
						}
					}
					.nav-link {
						margin: 0 5px;
						color: $blue-text;
						display: flex;
						align-items: center;
					}
					p {
						transition: all 0.3s ease-out;
						font-weight: 700;
						margin-left: 10px;
						width: 100%;
						text-align: center;
						z-index: 99;
					}
				}
			}
			&.nav {
				justify-content: center;
				.nav-item {
					p {
						display: none;
					}
				}
			}
			&.auth {
				position: absolute;
				right: 10px;
			}
		}
	}
}

.footer {
	display: none;
	// position: absolute;
	// right: 0px;
	// bottom: 0px;
}
