/* color */
$bg-home: #3653af;
$header-wht: #f5f7fc;
$blue: #405fbc;
$dark: #272a34;
$blue-text: #cedbff;
$dark-blue: #313541;
$white: #fff;
$red: #ea235f;
$coral: #df8888;
$gray: #969ba4;
/** button **/
$btn-dark: #262930;
$btn-gray: #606985;
$btn-blue: #547bee;
$btn-dark-blue: #444c65;
$btn-search: #565b78;
$text-detail-label: #a5acbc;
/** meta **/
$meta-text: #173078;
$meta-listing-label: #989aa0;
$meta-writing-label: #8b96a4;
$meta-input-readonly-bg: #3b404f;
$meta-input-bg: #313541;
$preivew-input-label: #989aa0;
$preview-field-border: #cfd3dd;
/** login **/
$login-box-line: #5a7bdc;
$login-input-line: #7091fb;
$login-input-box: #5e7bcd;
$login-register-text: #99e7ff;

/** register **/
$register-label-text: #8d9bc5;
$register-input-text: #75809a;
