@import './scss/variable';
@import './scss/font';
@import './scss/common';
@import './scss/layout';
@import './scss/animation';
@import './scss/cors';
@import './scss/home';
@import './scss/meta';
@import './scss/admin.scss';

.card-container {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%,-50%);
	width: 400px;
	height: auto;
	background-color: #f7f7f7;
	padding: 30px;
	margin: 0 auto;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 20px;
	-moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
	.card-text {
		padding: 15px 0;
		text-align: right;
		p {
			font-size: 1rem;
			margin-bottom: 0;
			line-height: 1.6;
		}
		label {
			margin-top: 10px;
			margin-right: 15px;
		}
	}
	.profile-img-card {
		width: 96px;
		height: 96px;
		margin: 0 auto 10px;
		display: block;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
	}
	.form-group {
		margin: 30px 0 15px;
	}
}

.profile,
.login,
.register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(100vh - 60px - 1rem);
	#universe {
		position: absolute;
		width: 600px;
		top: 50%;
		left: 50%;
		overflow: visible;
		transform: translate(-50%, -50%);
		z-index: 10;
		#orbit {
			fill: none;
			stroke: #ffffff;
			z-index: 10;
		}
	}
}

.register {
	height: auto;
	.card-container {
		position: relative;
		top: unset;
		left: unset;
		transform: none;
	}
}
.serviceIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 50px 0 0;
}
.icon {
	width: 33px;
	height: 33px;
	display: block;
	margin: 10px;
}
.logo {
	width: 203px;
	margin: 0 20px;
}
.login .icon img {
	width: 100%;
	webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.2;
}

.schemaTypeBtn {
	position: fixed;
	top: 30px;
	z-index: 100;
}
.keySchemaJson {
	right: 190px;
}
.valueSchemaJson {
	right: 110px;
}
.closeHistoryDetail {
	z-index: 101;
}

.select {
	background-color: #6c757d;
}

.layer {
	margin-top: 30px;
	z-index: 998;
	background: #fff;
}

.changeView {
	tr {
		&:first-child {
			td,
			th {
				text-align: center;
			}
		}
		td,
		th {
			vertical-align: middle;
			text-align: left;
			padding: 15px 0;
			margin: 10px auto;
			&:first-child {
				text-align: center;
			}
		}
	}
}

.form-group {
	&:focus-within {
		.field-label {
			@extend .transition;
		}
	}
	p.field-label {
		font-size: 11px;
		font-weight: 500;
		margin-bottom: 0.5rem;
		height: 20px;
	}
	input[readonly] {
	}
}
.schema-field {
	text-transform: uppercase;
	padding: 0 0 1rem;
	display: inline-block;
}
// listiing
