@import '/src/scss/variable';
@import '/src/scss/font';
@import '/src/scss/common';
@import '/src/scss/layout';
@import '/src/scss/animation';
@import '/src/scss/cors';
@import '/src/scss/home';
@import '/src/scss/meta';
@import '/src/scss/admin';
@import '/src/scss/login';
@import '/src/scss/register';
@import '/src/scss/profile';
@import '/src/scss/dialog';
@import '/src/scss/diag';

.layer {
	margin-top: 30px;
	z-index: 998;
	background: #fff;
}
