body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif !important; 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .btn {
      > a, > a:hover {
          color:#fff;
      }
  }

  .cors-iframe {
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }